body{
    margin: 0;
    padding: 0;
    background: url(/Imagenes/LOGIN\ AVISOS.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box .avatar{
    width: 160px;
    height: 40px;
    position: relative;
    top: -50px;
    left: 55px;
}
.login-box h1{
    margin: 0;
    position: relative;
    top: -30px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    

}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: relative;
    top: -30px;
    
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:white;
    color:black;
    font-size: 18px;
    border-radius: 20px;
}
.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.login-box a:hover{
    color: #fff;
}

#mostrarpass{
    width:100px;
    color:white;
    margin-top: 0;
    font-size: 10px;
    font-style: oblique;
}

#checkboxpass {
    display: flex;
    margin-top: -11px;
    margin-left: 120px;
}
